oai-pmh/oai_etdms.xsd

<schema targetNamespace="http://www.openarchives.org/OAI/2.0/oai_etdms/"
  xmlns:oai_etdms="http://www.openarchives.org/OAI/2.0/oai_etdms/" xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:ETD_MS="http://www.ndltd.org/standards/metadata/etdms/1.0/" xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <annotation>
    <documentation>OAI ETD_MS Sample Schema</documentation>
  </annotation>

  <import namespace="http://purl.org/dc/elements/1.1/"
    schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>

  <import namespace="http://www.ndltd.org/standards/metadata/etdms/1.0/"
    schemaLocation="https://raw.githubusercontent.com/piyapongch/schema/master/oai-pmh/etdms.xsd"/>

  <element name="thesis">

    <complexType>

      <sequence>
        
        <choice minOccurs="0" maxOccurs="unbounded">
          <element ref="dc:title"/>
          <element ref="dc:creator"/>
          <element ref="dc:subject"/>
          <element ref="dc:description"/>
          <element ref="dc:publisher"/>
          <element ref="dc:contributor"/>
          <element ref="dc:date"/>
          <element ref="dc:type"/>
          <element ref="dc:format"/>
          <element ref="dc:identifier"/>
          <element ref="dc:source"/>
          <element ref="dc:language"/>
          <element ref="dc:relation"/>
          <element ref="dc:coverage"/>
          <element ref="dc:rights"/>
        </choice>
        
        <element name="title" type="ETD_MS:freeTextType" minOccurs="1" maxOccurs="unbounded">
          <annotation>
            <documentation> A name given to the resource. In the case of theses and dissertations, this is the title of
              the work as it appears on the title page or equivalent. </documentation>
          </annotation>
        </element>

        <element name="alternativeTitle" type="ETD_MS:freeTextType" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> Alternative title of the thesis or dissertation. </documentation>
          </annotation>
        </element>

        <element name="creator" type="ETD_MS:authorityType" minOccurs="1" maxOccurs="unbounded">
          <annotation>
            <documentation> An entity primarily responsible for making the content of the resource. In the case of
              theses or dissertations, this field is appropriate for the author(s) of the work. Like other names and
              institutions, this field should be entered in free text form as it appears on the title page or
              equivalent, with a link to to an authority record if available. </documentation>
          </annotation>
        </element>

        <element name="subject" type="ETD_MS:controlledTextType" minOccurs="1" maxOccurs="unbounded">
          <annotation>
            <documentation> The topic of the content of the resource. In the case of theses and dissertations, keywords
              or subjects listed on the title page can be entered as free text. The "scheme" qualifier should be used to
              indicate a controlled vocabulary. </documentation>
          </annotation>
        </element>

        <element name="description" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> An account of the content of the resource. In the case of theses and disserations, this is
              the full text of the abstract unless otherwise qualified. </documentation>
          </annotation>
          <complexType>
            <simpleContent>
              <extension base="ETD_MS:freeTextType">
                <attribute name="role" type="ETD_MS:descriptionRoleType"/>
              </extension>
            </simpleContent>
          </complexType>
        </element>

        <element name="publisher" type="ETD_MS:authorityType" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> An entity responsible for making the resource available. This is typically the group most
              directly responsible for digitizing and/or archiving the work. The publisher may or may not be exactly the
              same as thesis.degree.grantor. Like other institutional names, this field should be entered in free text
              form as it appears on the title page or equivalent, with a link to to an authority record where available.
            </documentation>
          </annotation>
        </element>

        <element name="contributor" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> An entity responsible for making contributions to the content of the resource. Typical use
              would be for co-authors of parts of the work as well as advisors or committee members. Co-authors of the
              entire work would be more appropriate for the creator field. </documentation>
          </annotation>
          <complexType>
            <simpleContent>
              <extension base="ETD_MS:freeTextType">
                <attribute name="role" type="string"/>
                <attribute name="resource" type="anyURI"/>
              </extension>
            </simpleContent>
          </complexType>
        </element>

        <element name="date" type="ETD_MS:dateType" minOccurs="1" maxOccurs="1">
          <annotation>
            <documentation> A date associated with an event in the life cycle of the resource. In the case of theses and
              dissertations, this should be the date that appears on the title page or equivalent of the work. Should be
              recorded as defined in ISO 8601 and the profile recommended for implementing ISO 8601 dates in Dublin
              Core. </documentation>
          </annotation>
        </element>

        <element name="type" type="ETD_MS:freeTextType" minOccurs="1" maxOccurs="unbounded">
          <annotation>
            <documentation> The nature or genre of the content of the resource. This field is used to distinguish the
              resource from works in other genres and to identify the types of content included in the resource. The
              string "Electronic Thesis or Dissertation" is recommended as one of the repeatable values for this
              element. In addition, specify types of content using the standard vocabulary found at:
              http://dublincore.org/documents/dcmi-type-vocabulary/. Degree and Education Level are now handled by the
              thesis.degree field. </documentation>
          </annotation>
        </element>

        <element name="format" type="ETD_MS:freeTextType" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> The physical or digital manifestation of the resource. In the case of an electronic thesis
              or dissertation, this should contain a list of the electronic format(s) in which the work is stored and/or
              delivered. Use the standard MIME type whenever possible (for a list of "registered" MIME types, visit
              ftp://ftp.isi.edu/in-notes/iana/assignments/media-types/media-types). List as "unknown" if no format
              information is available, omit if the work is not available in electronic form. </documentation>
          </annotation>
        </element>

        <element name="identifier" type="string" minOccurs="1" maxOccurs="unbounded">
          <annotation>
            <documentation> An unambiguous reference to the resource within a given context. This can and should be used
              to provide a URI where the work can be viewed or downloaded. Persistent URNs such as PURLs
              (http://purl.org/) or Handles (http://handle.net/) are recommended. </documentation>
          </annotation>
        </element>

        <element name="language" type="string" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> A language of the intellectual content of the resource. This should be the primary language
              the work is recorded in. Portions of the larger work that appear in other languages should use the lang
              qualifier. See Global Qualifiers. Language names themselves should be recorded using ISO 639-2 (or RFC
              1766). If the language is not specified, it is assumed to be English (en). </documentation>
          </annotation>
        </element>

        <element name="coverage" type="ETD_MS:controlledTextType" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> The extent or scope of the content of the resource. Should be used for time periods or
              spatial regions. </documentation>
          </annotation>
        </element>

        <element name="rights" type="ETD_MS:freeTextType" minOccurs="0" maxOccurs="unbounded">
          <annotation>
            <documentation> Information about rights held in and over the resource. Typically, this describes the
              conditions under which the work may be distributed, reproduced, etc., how these conditions may change over
              time, and whom to contact regarding the copyright of the work. </documentation>
          </annotation>
        </element>

        <element name="degree" minOccurs="0" maxOccurs="1">
          <annotation>
            <documentation> The degree associated with the work. </documentation>
          </annotation>
          <complexType>
            <sequence>

              <element name="name" type="ETD_MS:freeTextType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                  <documentation> Name of the degree associated with the work as it appears within the work (example:
                    Masters in Operations Research). </documentation>
                </annotation>
              </element>

              <element name="level" type="string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                  <documentation> Level of education associated with the document. Example: bachelors, masters,
                    doctoral, postdoctoral, other. </documentation>
                </annotation>
              </element>

              <element name="discipline" type="ETD_MS:freeTextType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                  <documentation> Area of study of the intellectual content of the document. Usually this will be a
                    department name. </documentation>
                </annotation>
              </element>

              <element name="grantor" type="ETD_MS:authorityType" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                  <documentation> Institution granting the degree associated with the work. Like other institution
                    names, this field should be entered in free text form as it appears on the title page or equivalent,
                    with a link to an authority record where available. </documentation>
                </annotation>
              </element>

            </sequence>
          </complexType>
        </element>

      </sequence>
    </complexType>
  </element>
</schema>
